body {
  margin: 0;
  padding: 0;
}

.MuiBreadcrumbs-li a {
  color: #0d6efd !important;
}

.gray-icon {
  color: #737373;
}

.main {
  padding: 0 20px;
  width: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.file-dragging {
  position: relative;
}

.file-dragging::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(9, 102, 213, 0.1);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.file-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  border: thin solid lightgray;
  border-radius: 10px;
}

.folder-container {
  display: flex;
  border: thin solid lightgray;
  border-radius: 5px;
  padding: 10px 20px;
  gap: 10px;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-container-label {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-top: thin solid lightgray;
}

.list-item {
  gap: 5px;
}

.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
}

.selected {
  border: thin solid #1f6efd;
  color: #1f6efd;
}

.selected .gray-icon {
  color: #1f6efd !important;
}

.selected .file-container-label {
  border-top: thin solid #1f6efd;
}

.upload-progress-box {
  position: fixed;
  right: clamp(5px, 5%, 30px);
  bottom: 30px;
  width: 100%;
  max-width: 300px;
  z-index: 100;
}

.upload-progress-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #353535;
  color: white;
  padding: 0 15px;
}

.upload-progress-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background: #fff;
  border: thin solid lightgray;
}

.highlight-js-container *::selection {
  background-color: #0966d5 !important;
}

.highlight-js-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.highlight-js-container code {
  width: 100%;
  height: 100%;
}

.highlight-js-container pre {
  width: 100%;
  height: calc(100% - 15px);
}

@media only screen and (max-width: 768px) {
  .responsive-label {
    display: none;
  }

  .list-item {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (prefers-color-scheme: dark) {
  .gray-icon {
    color: white;
  }

  .upload-progress-header {
    background: #26292a;
  }

  .upload-progress-row {
    background: #181a1b;
    border: thin solid #1c1e1f;
  }
}
