:root {
  --background: #f0ebf8;
  --box: white;
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  margin-top: 20px;
  padding: 0 10%;
  gap: 20px;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}

.create-form-button {
  font-size: 50px !important;
}

.center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.responsive-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
