@media only screen and (max-width: 768px) {
  .add-box-button {
    right: 10px;
  }

  .copy-link-button {
    left: 10px;
  }

  .auth-form-container {
    flex-direction: column;
  }

  .animation-wrapper {
    max-width: 80%;
    width: 80%;
  }

  .responsive-label {
    display: none;
  }

  .translate-flex {
    flex-direction: column;
  }

  .translate-box,
  .translate-box-result {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .auth-form-container {
    justify-content: center;
    margin-bottom: 50px !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --box: #424242;
    --translate-box: #282829;
    --translate-box-color: white;
    --translate-box-border: #3a3a3a;
  }

  .dynamic-icon {
    color: white;
  }

  .upload-progress-header {
    background: #26292a;
  }

  .upload-progress-row {
    background: #181a1b;
    border: thin solid #1c1e1f;
  }
}
