.section-container {
  height: 100vh;
  display: flex;
  padding: 0 10% 0 10%;
  justify-content: space-between;
}

.section-title-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.section-title {
  height: 50%;
  width: 100%;
}

.section-animation {
  width: 45%;
  display: flex;
  align-items: center;
}

.first-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 30px;
}

.first-section > * {
  max-width: 100%;
}

.first-section * {
  text-overflow: initial;
  white-space: normal;
  text-align: center;
}

.wrapper-typewriter,
.cursor-typewriter {
  font-size: 30px;
}

.first-section-link {
  transition: 0.3s;
  transform-origin: 50% 100%;
}

.first-section-link:hover {
  transform: scale(1.1);
}

.first-section-link-container {
  display: flex;
  gap: 20px;
}

@media (min-width: 768px) {
  .reversed {
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .section-title-container {
    display: block;
  }

  .section-animation {
    margin: 20px 0;
  }

  .section-animation {
    width: 100%;
    justify-content: center;
  }

  .section-title-container {
    width: 100%;
  }

  .first-section-link-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
