.translate-container {
  display: flex;
  flex-direction: column;
  margin: 50px 5% 0 5%;
}

.translate-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--translate-box);
  padding: 0 20px;
  position: relative;
  border: thin solid var(--translate-box-border);
}

.translate-flex {
  display: flex;
  width: 100%;
  height: max-content;
}

.translate-box-container {
  width: 50%;
  display: flex;
  position: relative;
  min-height: max-content;
  overflow: auto;
}

.translate-box {
  min-height: 200px;
  height: 100%;
  outline: none;
  font-size: 24px;
  padding: 20px 45px 40px 20px;
  width: 100%;
  resize: none;
  color: var(--translate-box-color);
  word-wrap: break-word;
  background: var(--translate-box);
  border: thin solid var(--translate-box-border);
}

.swap-button {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.float-bottom-right {
  position: absolute !important;
  right: 7px;
  bottom: 3px;
}
